<launch>
  <arg name="hardware_type" default="real"/>
  <arg name="feedback_type" default="fake"/>
  
  <node name="susan_hardware_interface_node" pkg="susan_control" type="susan_hardware_interface_node" output="screen">
      <param name="loop_frequency" value="100.0"/>
      <param name="hardware_type" value="$(arg hardware_type)"/>
      <param name="feedback_type" value="$(arg feedback_type)"/>
  </node>
  <node name="socketcan_node" pkg="socketcan_bridge" type="socketcan_bridge_node" />

  <include file="$(dirname)/susan_controllers.launch"/>
</launch>